@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-white antialiased;
  }
}

@layer components {
  .container {
    @apply px-1 mx-auto;
  }
}

@keyframes orbit {
  0% {
    transform: rotate(0deg) translateX(150px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(150px) rotate(-360deg);
  }
}

.animate-orbit {
  animation: orbit 15s linear infinite;
}

.text-gradient {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-yellow-400 to-amber-500;
}